.pet-item .pet-item__card {
  height: 100%;
}

.pet-item .wrapper {
  overflow: hidden;
}

.pet-item .pet-item__image {
  width: 100%;
  height: 300px;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  position: relative;
}

.pet-item .pet-item__image img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 100% 30%;
     object-position: 100% 30%;
  position: absolute;
}

.pet-item .pet-item__image:hover {
  -webkit-animation: wiggle 250ms 3;
          animation: wiggle 250ms 3;
}

.pet-item .pet-item__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: calc(100% - 300px);
}

.pet-item .pet-item__content--header {
  font-family: cursive, Arial, Helvetica, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.pet-item .pet-item__content--header h2,
.pet-item .pet-item__content--header p {
  margin: 0.5rem 0.8rem;
}

.pet-item .pet-item__content--header time {
  margin-bottom: 0.5rem;
  margin-right: 1rem;
}

.pet-item .pet-item__content--description {
  font-family: "Lato", sans-serif;
  text-align: center;
}

.pet-item .pet-item__content--description p {
  margin: 0;
  padding: 0 0.5rem;
}

.pet-item .pet-item__content--description button {
  font-size: 1rem;
  border-color: none;
  background: lightgoldenrodyellow;
  padding: 0.3rem;
  margin: 0.3rem;
  color: black;
}

.pet-item .pet-item__content--description button:hover {
  border: none;
  cursor: default;
}

.pet-item .pet-item__content--actions button {
  width: 100%;
  margin-top: 1rem;
  background: #cc6f7d;
}

.pet-item .pet-item__content--actions button:hover {
  background: #e7bac1;
  border-color: #e7bac1;
}

@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: rotateZ(0) scaleX(1);
            transform: rotateZ(0) scaleX(1);
  }
  50% {
    -webkit-transform: rotateZ(-5deg) scaleX(1.2);
            transform: rotateZ(-5deg) scaleX(1.2);
  }
  100% {
    -webkit-transform: rotateZ(5deg) scaleX(1);
            transform: rotateZ(5deg) scaleX(1);
  }
}

@keyframes wiggle {
  0% {
    -webkit-transform: rotateZ(0) scaleX(1);
            transform: rotateZ(0) scaleX(1);
  }
  50% {
    -webkit-transform: rotateZ(-5deg) scaleX(1.2);
            transform: rotateZ(-5deg) scaleX(1.2);
  }
  100% {
    -webkit-transform: rotateZ(5deg) scaleX(1);
            transform: rotateZ(5deg) scaleX(1);
  }
}
/*# sourceMappingURL=pet-item.module.css.map */