@import "./_variables.scss";

$button-color: rgb(226, 167, 250);
.section {
  h1 {
    @extend .font-style__primary;
  }

  .next--page__button {
    background-color: $button-color;
    font-size: 2rem;
    width: 100%;
    margin: 2.5rem 0;

    &:hover {
      color: white;
      background-color: darken($button-color, 10%);
    }
  }
}
